.container {
    padding-top: 1em;
}

* {
    font-family: Helvetica;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 1em;
}

.site-heading {
    color: #354463;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav a {
    text-decoration: none;
    color: #354463;
}

.donation-button button {
    color: #354463;
    background-color: #c1f7d5;
    padding: 1em;
    border-radius: 2em;
}

.stop-climate-change {
    background-image: url("../images/annie-spratt-135307-unsplash.png");
    height: 672px;
    display: grid;
    grid-template-columns: 1fr;
    object-fit: contain;
}

.middle-section {
    padding-left: 120px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-self: center;
    grid-column-gap: 10%;
}

.text-section-1 {
    align-self: center;
    justify-self: start;
    background-color: white;
    position: relative;
    padding: 2.4em;
}

.issue {
    background-color: #354463;
    padding: 0.5em;
    left: 2.4em;
    top: -1em;
    color: white;
    position: absolute;
}

.text-section-1 p {
    color: #354463;
    font-size: 35px;
}


.text-section-2 {
    align-self: start;
    justify-self: start;
    width: 15em;
}

.text-section-2 p {
    font-size: 4em;
    color: white;   
    margin-top: 0px;
}

header h2 {
    width: 10em;
    padding-left: 2em;
}

.take-action {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    align-items: center;
    background-color: #c1f7d5;
    color: #354463;
    padding: 2em 7.4em;
    position: relative;
}

.take-action-text {
    background-color: #354463;
    padding: 0.5em;
    left: 50%;
    transform: translateX(-61px);
    top: -1em;
    color: white;
    position: absolute;
}

.mission {
    background-color: #354463;
    padding: 120px;
}

.mission a {
    text-decoration: none;
    color: #354463;
    padding: 0.7em;
    background-color: white; 
}

.mission h2 {
    color: white;
}

.missions img {
    width: 100%;
    height: 250px;
}

.missions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 3.5em;
    background-color: #354463;
    padding-top: 5em;
    color: #354463;
}

.content {
    padding-top: 15em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.content p {
    padding-bottom: 2em;
}

.img-txt {
    background-color: white;
    position: relative;
}

.img-txt img {
    position: absolute;
    left: 2em;
    top: -2em;
}

.img-txt a {
    color: #354463;
    background-color: #c1f7d5;
    border-radius: 1.2em;
    position: absolute;
    bottom: 1.2em;
    left: 1.8em;
}

.climate-hunger {
    background-image: url("../images/did-you-know-background.png");
    object-fit: contain;
    background-repeat: no-repeat;
}

.climate-hunger {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.text-link p {
    font-size: 2.8em;
    margin-top: 0;
}
.text-link {
    position: relative;
    width: 10em;
    left: 7.5em;
    top: 5em;
    color: white;
}

.text-link a {
    background-color: #c1f7d5;
    color: #354463;
    text-decoration: none;
    padding: 0.7em;
    border-radius: 1.5em;
}

.did-you-know {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 3em;
    padding-top: 5.7em;
    padding-bottom: 7em;
    position: relative;
}

.did-knows {
    background-color: white;
    justify-self: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2em;
    color: #354463;
    margin-right: 4em;
}

.social-media {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    align-self: center;
    border-radius: 100%;
}

.d-know-sec {
    position: absolute;
    top: 4.5em;
    left: 10%;
    background-color: #354463;
    color: white;
    padding: 0.5em;
}

.img-a {  /* to be done later social media images*/
    background-color: #c1f7d5;
    padding: 0.5em 0.6em;
    border-radius: 50%;
}

.img-b { /* to be done later */
    background-color: #c1f7d5;
    padding: 0.5em 0.8em;
    border-radius: 50%;
}

.stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 6em;
    padding-bottom: 6em;
}

.farmer-img img {
    max-width: 100%;
    height: auto;
    position: relative;
    right: 16%;
}

.farmer-img {
    position: relative;
}

.farmer-text {
    font-size: 2.8vw;
}

.farmer-name {
    font-size: 0.8em;
    padding-left: 2.4em;
}

.top-stories {
    position: absolute;
    top: -2em;
    left: -1.2em;
    color: white;
    background-color: #354463;
    padding: 0.5em 2em;
}

.text-section-stories {
    background-color: #354463;
    color: white;
    position: relative;
    padding: 1em 1.5em;
    width: 67%;
    align-self: center;
    left: 22%;
    z-index: 1;
}

.text-section-stories > a {
    text-decoration: none;
    color: #354463;
    background-color: #c1f7d5;
    position: absolute;
    bottom: -5em;
    left: 0;
    padding: 0.8em;
    border-radius: 1.5em;
}

.save-the-future {
    background-color: #354463;
    color: white;
    padding-left: 4em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 3em;
}

.whole-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5em;
}
.save-the-future > h2 {
    grid-column: 1 / span 2;
    padding-bottom: 1.5em;
}

.save-the-future img {
    object-fit: cover;
    width: 100%;
}

.content-future-a {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-column-gap: 3em;
}

.content-future-b {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-column-gap: 3em;
}

.future-content-a, .future-content-b {
    padding-top: 0.9em;
}

.whole-content a {
    color: #354463;
    background-color: #c1f7d5;
    text-decoration: none;
    padding: 0.8em 1em;
    border-radius: 1.5em;
}

.img1 {
    grid-column: 2 / span 1;
}

.future-content-b {
    grid-row: 1 / span 1;
}

.event-a {
    padding: 0.8em 4.1em;
    background-color: white;
    color: #354463;
}

.event-b {
    background-color: white;
    color: #354463;
    padding: 0.8em 2em;
}

.subscribe-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    background-color: #c1f7d5;
    padding: 2em 2em;
}

.subscribe-section > p {
    color: #354463
}

.subscribe-section a {
    text-decoration: none;
    color: #c1f7d5;
    background-color: #354463;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1.5em;
}

input {
    border: white;
    padding: 0.7em 2.5em 0.7em 0.7em;
    border-radius: 1.2em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #354463;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr  2fr;
    justify-items: start;
    grid-column-gap: 1.5em;
    color: #354463;
    padding: 4em 0;
}

.footer-subsection {
    justify-self: center;
}

/*padding 4em main indentation of the tablet view */

@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        justify-self: start;
    }

    .site-heading {
        justify-self: start;
    }

    .donation-button {
        grid-row: 1 / span 2;
        align-self: center;
    }

    .stop-climate-change {
        grid-template-rows: 1fr 1fr;
    }

    .middle-section {
        padding-left: 4em;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
    }

    .text-section-2 {
        grid-row: 1 / span 1;
    }

    .text-section-1 {
        grid-row: 2 / span 1;
        max-width: 100%;
        align-self: start;
        margin-right: 5em;
        font-size: 0.8em;
    }

    .take-action {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 4em;
    }

    .text-a {
        padding-top: 1.5em;
    }

    .mission {
        padding-left: 4em;
        padding-top: 4em;
    }

    .mission h2 {
        padding-top: 1.2em;
    }

    .missions {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 4em;
    }

    .mission img {
        max-width: 100%;
        height: 160px;
        left: 0;
    }

    .img-txt {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
    }

    .img-txt img {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        left: 1.5em;
    }

    .content {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        padding-top: 0;
        padding-left: 3em;
    }

    .read-more {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        align-self: center;
        justify-self: start;
        position: relative !important;
        top: 1.4em;
        left: 6.7em;
    }

    .climate-hunger {
        padding-left: 4em;
        grid-column-gap: 2em;
        grid-template-columns: 1fr 2fr;
    }
    
    .text-link {
        justify-self: start;
        left: 0;
    }

    .text-link p {
        font-size: 2em;
    }

    .did-you-know {
        max-width: 26em;
    }

    .did-knows {
        padding: 0.2em;
        justify-self: start;  
        padding: 1.5em;  
    }

    .social-media {
        justify-self: end;
    }

    .stories {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        padding-top: 4em;
        padding-bottom: 0;
    }

    .farmer-img {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .farmer-img img {
        max-width: 80%;
        left: 9%;
    }

    .top-stories {
        left: 18%;
    }

    .text-section-stories {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        align-self: start;
        bottom: 13%;
    }

    .farmer-text {
        font-size: 4.5vw;
        padding-left: 1em;
    }

    .save-the-future {
        padding-left: 4em;
    }

    .save-the-future img {
        position: static;
    }

    .subscribe-section {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 3em;
    }

    .subscribe-section > p {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        width: 21em;
    }

    .subscribe-section > input {
        justify-self: stretch;
    }

    footer {
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr 1fr;
    }

    .f-sub {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    .follow-us {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .f-sub2 {
        justify-self: start;
    }
}

@media (max-width: 500px) {
    header {
        grid-template-columns: 1fr 1fr;
    }
    
    nav {
        grid-template-columns: 1fr;
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .donation-button {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
    }

    .donation-button button {
        padding: 0.8em 7em;
    }

    .middle-section {
        padding-left: 1em;
        grid-template-rows: 1fr 2fr;
        padding-left: 0em;
        margin: 0 2em;
    }

    .text-section-1 {
        max-width: 100%;
        top: 1.8em;
        margin-right: 0em;
        font-size: 0.6em;
        position: relative;
        padding: 1em 2em;
    }

    .text-section-1 p {
        font-size: 2em;
    }

    .text-section-1 a {
        font-size: 1.8em;
    }

    .text-section-2 p {
        font-size: 2.5em;
    }

    .text-section-2 {
        padding-top: 2em;
    }

    .stop-climate-change {
        max-width: 100%;
        height: 500px;
    }

    .issue {
        left: 25%;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.667em;
    }

    .take-action {
        padding: 0 1em;
    }

    header h2 {
        width: 100%;
    }

    .text-a {
        padding-left: 1.3em;
    }

    .img-txt a {
        position: relative;
        left: 31%;
        top: -3em;
    }

    .mission {
        padding: 0;
        padding-top: 4em;
    }

    .m {
        margin-bottom: 2em;
    }

    .mission > a {
        position: relative;
        left: 28%;
    }

    .mission h2 {
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
    }

   .img-txt {
       grid-template-columns: 1fr;
       margin-left: 1em;
       margin-right: 1em;
   }

   .img-txt img {
       grid-row: 1 / span 1;
       grid-column: 1 / span 1;
       max-width: 90%;
       left: 5%;
   }

   .content {
       grid-row: 2 / span 1;
       grid-column: 1 / span 1;
   }

   .img-txt a {
       grid-row: 3 / span 1;
   }

   .content p {
       text-align: center;
   }

   .content h3 {
       font-size: 0.996em;
       padding-top: 1em;
       text-align: center;
   }

   .climate-hunger {
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
       padding-left: 2em;
   }

   .did-knows {
       width: 72%;
       padding: 1.2em;
       padding-top: 1em;
       padding-bottom: 0em;
   }

   .did-you-know {
       padding-top: 8em;
   }

   .text-link p {
       font-size: 1.8em;
   }

   .d-know-sec {
       left: 16%;
       top: 6.5em;
   }

   .stories {
       padding-top: 3em;
   }

   .farmer-img img {
       position: static;
       max-width: 100%;
   }

   .text-section-stories {
       bottom: 0;
       left: 0;
       width: auto;
   }

   .text-section-stories > a {
       left: 33%;
   }

   .top-stories {
       left: 29%;
   }

   .content-future-a {
       grid-template-columns: 1fr;
       position: relative;
   }

   .content-future-b { 
       display: block;
       position: relative;
   }

   .event-a {
    padding: 0.3em 2em;
    position: absolute;
    top: -3%;
    left: 27%;
   }

   .event-b {
       padding: 0.4em 1em;
       position: absolute;
       top: -3%;
       left: 25%;
   }

   .save-the-future {
       padding: 1em;
       padding-bottom: 4em;
       margin-top: 2em;
   }

   .future-content-a, .future-content-b {
       text-align: center;
   }

   .subscribe-section {
       grid-column-gap: 0.5em;
       padding: 1em;
   }

   .subscribe-section a {
       padding: 0.5em 0.4em 0.5em 0.4em;
   }

   .subscribe-section input {
       padding: 0.7em 1.2em 0.7em 0.7em;
   }

   .subscribe-section > p {
       max-width: 100%;
   }

   footer {
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;

   }

   .contact-us {
       grid-column: 2 / span 1;
       grid-row: 1 / span 1;
   }

   .learn-more {
       grid-column: 2 / span 1;
       grid-row: 2 / span 1;
   }

   .follow-us {
       grid-column: 1 / span 1;
       grid-row: 2 / span 1;
   }

   .f-sub2 {
       grid-row: 3 / span 1;
       grid-column: 1 / span 2;
       justify-self: end;
   }
}