.container {
    display: grid;
    grid-template-columns: 1fr;
}

* {
    font-family: Helvetica;
}

header {
    justify-self: center;
    color: #354463;
    padding: 1em;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../images/annie-spratt-427340-unsplash.png");
    object-fit: cover;
    background-size: 100%;
    padding: 4em;
    grid-column-gap: 1.5em;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2em;
    color: #354463;
}

.info-footer {
    display: grid;
    grid-template-columns: 1fr;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #354463;
    padding: 3em;
    color: white;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    align-items: end;
}

.text > h1 {
    color: white;
    margin-top: 0;
}

.your-info {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

.first-name {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

.last-name {
    grid-row: 2 / span 1;
    grid-column: 3 / span 2;
}

.street-address {
    grid-row: 3 / span 1;
    grid-column: 1 / span 4;
}

.city {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
}

.email {
    grid-row: 5 / span 1;
    grid-column: 1 / span 4;
}

.payment-info {
    grid-row: 6 / span 1;
    grid-column: 1 / span 4;
}

.credit-card-num {
    grid-row: 7 / span 1;
    grid-column: 1 / span 4;
}

.expiration {
    grid-row: 8 / span 1;
    grid-column: 1 / span 1;
}

.security-code {
    grid-row: 8 / span 1;
    grid-column: 4 / span 1;
}
.expiration > p {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

.info-footer {
    grid-row: 9 / span 1;
    grid-column: 1 / span 4;
}

.payment-text {
    grid-row: 10 / span 1;
    grid-column: 1 / span 4;
}

.go-back-link {
    grid-row: 11 / span 1;
    grid-column: 1 / span 2;
}

.go-back-link {
    color: #c1f7d5;
    align-self: center;
}

.payment {
    grid-row: 11 / span 1;
    grid-column: 3 / span 2;
    color: #354463;
    background-color: #c1f7d5;
    border-radius: 1.5em;
    padding: 0.5em;
}

select {
    color: #c1f7d5;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #c1f7d5;
    width: 100%;
    color: white;
}

select {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #c1f7d5;
    width: 100%;
    color: white;
    font-size: 1em;
}

.info div {
    position: relative;
}

.info label {
    position: absolute;
    top: 0px;
    pointer-events: none;
    left: 0;
    color: gray;
    transition: 0.5s;
    font-size: 1.2vw;
}

input:focus ~ label{
    top: -12px;
    left: 0;
    color: #c1f7d5;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .main-section {
        grid-template-columns: 1fr;
    }

    .info {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .text {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .follow-us {
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
    }

    .links {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    .stop-climate-change {
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
    }

    .info label {
        font-size: 2.5vw;
        top: -8px;
    }
}

@media (max-width: 520px) {
    footer {
        grid-template-columns: 1fr 1fr;
    }

    .follow-us {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .stop-climate-change {
        grid-row: 3 / span 1;   
        grid-column: 2 / span 1;
    }

    .info-footer button {
        padding: 0.6em;
    }

    .payment-text {
        grid-row: 10 / span 1;
        grid-column: 1 / span 4;
        padding-top: 1em;
    }

    .payment {
        grid-row: 11 / span 1;
        grid-column: 1 / span 4;
        margin-top: 1em;
    }

    .go-back-link {
        grid-row: 12 / span 1;
        grid-column: 1 / span 4;
        justify-self: start;
        align-self: center;
        padding-top: 1em;
    }

    .main-section {
        padding: 2em;
    }

    .info {
        grid-column-gap: 0.7em;
    }

    .info label {
        font-size: 3.5vw;
    }
    
    .your-info {
        font-size: 1em;
    }

    .payment-info {
        font-size: 1em;
    }
}